body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
}

a {
  color: #C5A144;  /* Yellow for links */
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#messages {
  list-style: none;
  padding: 0;
}

#messages li {
  padding: 5px;
  margin: 5px 0;
  border-radius: 3px;
}

#messages li.success {
  background-color: #d4edda;
  color: #155724;
}

#messages li.danger {
  background-color: #f8d7da;
  color: #721c24;
}

footer {
  margin-top: 50px;
  padding: 10px;
  background-color: #561C1D;
  color: #fff;
}
